* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto Mono', monospace;
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}    

div .form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

form {
    display: grid;
    justify-items: center;
}

input {
    text-align: center;
    border-radius: 20px;
    border-color: black;
    margin-bottom: 25px;
    padding: 10px;
}

button {
    border-radius: 20px;
    border-color: black;
    padding: 20px;
}

a {
    display: flex;
    margin: 15px;
    color: darkblue;
}